In [3]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [4]:
page=requests.get('https://www.speedtest.net/global-index#mobile')
cont=page.content

#checking Connectivity with site
print(page.status_code)

200

In [5]:
soupobj=bs(cont,'html.parser')  #using default html-parser for parsing content of html page
#print(soupobj.prettify())

In [6]:
#adding all country names in empty list-empli to make further data frame

countr=soupobj.find_all(class_='country')
empli=[]
for li in countr:
    empli.append(li.get_text()) 
    #print(empli)

In [7]:
#adding all internet speed rankings in empty list-empli2 for further data frame

empli2=[]
speed=soupobj.find_all(class_='speed')
for s in speed:
    empli2.append(s.get_text())

In [20]:
list3 = [x.replace('\n', '') for x in empli]  #removing starting and ending '\n' duplicates from every item of empli. 
#print(list3)

#print(empli)
#print(empli2)

In [9]:
#making datfm-DataFrame
datfm=pd.DataFrame({'Countries':list3,
                    'Speed in Mbps':empli2})

In [16]:
#Converting dataframe into csv 

datfm.to_csv('Sub.csv',index=False)

In [17]:
# Now using pandas for cleaning csv -sorting columns and seperating data of Mobiletest and Broadbandtest connection

newcsv=pd.read_csv('Sub.csv')

In [18]:
newcsv

                                             Countries Speed in Mbps
0                                              Country          Mbps
1                                      South Korea ...        100.22
2                                      United Arab ...         99.67
3                                      China       ...         97.10
4                                      Qatar       ...         89.11
..                                                 ...           ...
309                                    Turkmenistan...          4.08
310                                    Yemen       ...          3.77
311                                    Cuba        ...          3.55
312                                    Venezuela   ...          3.48
313                                    Algeria     ...          3.48

[314 rows x 2 columns]

In [13]:
Mobiletest=newcsv[1:139] #csv for Mobile-conducted speedtest's across globe
Broadbandtest=newcsv[140:]#csv for Broadband-conducted speedtest's across globe

In [14]:
Mobiletest

                                             Countries Speed in Mbps
1                                      South Korea ...        100.22
2                                      United Arab ...         99.67
3                                      China       ...         97.10
4                                      Qatar       ...         89.11
5                                      Netherlands ...         73.69
..                                                 ...           ...
134                                    Tajikistan  ...         10.20
135                                    Palestine   ...          8.12
136                                    Sudan       ...          8.08
137                                    Venezuela   ...          6.15
138                                    Afghanistan ...          5.71

[138 rows x 2 columns]

In [14]:
Broadbandtest

                                             Countries Speed in Mbps
140                                    Singapore   ...        205.13
141                                    Hong Kong (S...        183.24
142                                    Thailand    ...        170.14
143                                    Romania     ...        159.31
144                                    Switzerland ...        155.94
..                                                 ...           ...
309                                    Turkmenistan...          4.08
310                                    Yemen       ...          3.77
311                                    Cuba        ...          3.55
312                                    Venezuela   ...          3.48
313                                    Algeria     ...          3.48

[174 rows x 2 columns]

In [ ]:
Mobiletest.to_csv('Mobiletest.csv',index=False)
Broadbandtest.to_csv('Broadbandtest.csv',index=False)

In [ ]:
#indexing csv's
c1=pd.read_csv('Mobiletest.csv')
c2=pd.read_csv('Broadbandtest.csv')

In [ ]:
c1.to_csv('Mobiletest.csv',index=True)
c2.to_csv('Broadbandtest.csv',index=True)